body {
    width: auto;
 background-image: url('../images/i3.jpg');
    background-repeat:repeat;
    background-size: cover;
    color:white;
   background-color:rgb(77, 66, 46);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.di{
    color:black:
}

/* nav bar styling */
.navBar {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.541);
}
.navBar a {
    text-decoration: none;
    color: white;
}

i:hover,
a:hover {
    color: dodgerblue;
    cursor: pointer;
}
.navBar nav li {
    padding: 10px;
    margin: 20px;
    list-style-type: none;
    display: inline-block;
}
.header {
    width: 80%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 5%;
    display: grid;
    grid-template-rows: 1fr;
}

.header>div {
    margin-top: 10%;
    max-width: 100%;
}
.IntroMsg {
    margin: 20px;
    /*position: relative;*/
    width: 100%;
    left: 5%;
    top: -20%;
    text-align: center;
    padding: 10px;
    height: auto;
    opacity: 0.9;
    background-color: transparent;
    border-radius: 10px;
}
.IntroMsg nav{
    text-align: left;
}
footer{
    text-align: center;
    padding: 10%;
    font-size: 20px;
    color: black;
}
.div3{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
	width: 300px;
	height: 300px;
	margin: 10px;
    transition: all 1s;
    cursor: pointer;
}
img:hover{
	transform: scale(1.1);
}
.H31{
    
        text-align: center;
            font-size:3em;
            border-bottom: 2px solid hotpink;
            border-right: 2px solid hotpink;
            text-align: center;
            width: 1200px;
            box-shadow: 4px 4px 5px 5px pink;
                
}
.H11{

        text-align: center;
            font-size:3em;
            border-bottom: 2px solid hotpink;
            border-right: 2px solid hotpink;
            text-align: center;
            width: 1100px;
            box-shadow: 4px 4px 5px 5px pink;
                }
